* {
  margin: 0;
  padding: 0;
}

body {
  background: url("https://cdn.fansshare.com/image/hdwallpapers1080p/city-wallpaper-hd-background-wallpaper-city-153030591.jpg");
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  font-size: 1.3em;
  font-family: "Times New Roman", Times, serif;
}

.heading {
  text-align: center;
  width: 100%;
  margin: auto;
  margin-top: 100px;
}

#head {
  font-size: 3.8em;
}

#content1 {
  width: 90%;
  margin: auto;
}

form {
  background-color: rgba(0, 0, 0, 0.7);
  padding-top: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 54%;
  border-radius: 5px;
  margin: auto;
  margin-top: 10px;
  padding-bottom: 60px;
}

form .box {
  width: 98.5%;
  height: 2.8em;
  position: relative;
  border: 0;
  border-radius: 5px;
}

.labels select {
  width: 98.5%;
  height: 2.7em;
  position: relative;
  border: 0;
  border-radius: 5px;
}

#sendButton {
  font-size: 0.8em;
  font-weight: bold;
  width: 98.5%;
  height: 3em;
  top: 11px;
  background-color: rgb(18, 219, 78);
  border: none;
  color: white;
  cursor: pointer;
}

form .box1 {
  width: 5%;
  height: 2em;
  position: relative;
  border: 0;
  border-radius: 5px;
}

#successMsg {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 100vh;
  top: 0;
  width: 100vw;
  z-index: 20;
  color: black;
  backdrop-filter: blur(5px);
}

#msg {
  font-family: sans-serif;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  border: 0;
  background-color: rgba(255, 255, 255, 0.7);
  height: 25vh;
  width: 25vw;
  border-radius: 10px;
}

#but {
  background-color: rgb(29, 186, 76);
  border-radius: 10px;
  width: 10vw;
  height: 6vh;
  color: white;
  font-size: 1em;
  cursor: pointer;
}

#but:hover {
  background-color: white;
  border-radius: 10px;
  width: 10vw;
  height: 6vh;
  color: rgb(29, 186, 76);
  font-size: 1em;
  cursor: pointer;
}
